<h1>Update telephone</h1>

<form action="/user/telephone/?_method=PUT" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" required>
	<br>

	<label for="telephone">Telephone:</label>
	<input type="text" name="telephone" required>
	<br>
	
	<button type="submit">Submit</button>
</form>