<h1>Create order</h1>

<form action="/order/" method="post">
	<label for="customer_username">Customer username:</label>
	<input type="text" name="customer_username" required>
	<br>

	<label for="start_address">Start address:</label>
	<input type="text" name="start_address" required>
	<br>
	
	<label for="end_address">End address:</label>
	<input type="text" name="end_address" required>
	<br>

	<button type="submit">Submit</button>
</form>