<h1>Update telephone</h1>

<form action="/driver/telephone/?_method=PUT" method="post">
	<label for="id">Id:</label>
	<input type="number" name="id" required>
	<br>

	<label for="telephone">Telephone:</label>
	<input type="text" name="telephone" required>
	<br>

	<button type="submit">Submit</button>
</form>